<html>
    <body>
        <h1>
            Hello World! Estamos na pagina de resultados
        </h1>
        <br>
        Você escolheu: <span th:text="${aEscolha}"/>
        <br>
        Resultado: <span th:text="${saida}"/>
        <br>
        <br>
        Score:
        <br>
        Vitorias: <span th:text="${score.vitorias}"/>
        <br>
        Derrotas: <span th:text="${score.derrotas}"/>
        <br>
        Empates: <span th:text="${score.empates}"/>
        <br>
        <form action="/score/reset" method="post">
            <button type="submit">Resetar Score</button>
        </form>
    </body>
</html>
